In [1]:
#1.How do you get a list of all the keys in a dictionary
dict={'a':1,'b':2,'c':3}
key=list(dict.keys())
print(key)

['a', 'b', 'c']

In [2]:
#2. Write a program to filter out the number divisible by 3 from a
#tuple using lambda function
numbers=(1,2,3,4,5,6,7,8,9)
divisible_by_3=tuple(filter(lambda x: x%3==0,numbers))
print(divisible_by_3)

(3, 6, 9)

In [3]:
x=42
y='Prabhu'
z='42'
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'str'>

In [4]:
#5.Convert a given string to int using a single line of code
str='1278'
print(int(str))

1278

In [5]:
list=[1,2,345,789]
print(list[0])
print(list[2])
print(list[3])

1
345
789

In [6]:
list=[1,2,345,789]
print(list[0])
print(list[2])
print(list[3])
list.reverse()
print(list)

1
345
789
[789, 345, 2, 1]

In [7]:
import array
arr=array.array('i',[10,20,30,40,50])
#get
print('Get the element at index 2:',arr[2])
#del
arr.remove(50)# Removes the first occurrence of 50
print('Array after deleting 50:',arr)
#update
arr[3]=55
print('Array after updating the 4th index to 55:',arr)

Get the element at index 2: 30
Array after deleting 50: array('i', [10, 20, 30, 40])
Array after updating the 4th index to 55: array('i', [10, 20, 30, 55])

In [8]:
#13. Write a code snippet to generate the square of every element
#of a list.
# Method1
list=[1,3,5,7]
sq=[]
for x in list:
    sq.append(x*x)
print(sq)

[1, 9, 25, 49]

In [9]:
#Method2
list = [1, 3, 5, 7]
sq = [x * x for x in list]
print(sq)

[1, 9, 25, 49]

In [1]:
# Method3 using lambda
numbers = [1, 3, 5, 7, 9]  # Use 'numbers' instead of 'list'

# Method using lambda and map
sq = list(map(lambda x: x * x, numbers))  # Built-in 'list' works fine now

print('Original List:', numbers)
print('Squared List:', sq)

Original List: [1, 3, 5, 7, 9]
Squared List: [1, 9, 25, 49, 81]

In [3]:
#27.How to use list comprehension to simplify code that generate
#a list of square for all even number from 0 to 10?
sq=[x*x for x in range(11) if x%2==0]
print('Square of even numbers from 0 to 10:',sq)

Square of even numbers from 0 to 10: [0, 4, 16, 36, 64, 100]

In [4]:
#29.Convert string to list
str_var='Prabhu'
str_list=list(str_var)
print('String varibale:',str_var)
print('String list variable:',str_list)

String varibale: Prabhu
String list variable: ['P', 'r', 'a', 'b', 'h', 'u']

In [6]:
#32.What is negative indexing in python?
numbs=[10,20,30,40,50]
text='Prabhu'
print('Original Numbers:',numbs)
print('Last number (index-1):',numbs[-1])
print('Second Last number (index-2):',numbs[-2])
print('\n Numbers sliced with negative indices:',numbs[-4:])

print('\n Original Text:',text)
print('Last character (index-1):',text[-1])
print('Second Last character (index-2):',text[-2])

Original Numbers: [10, 20, 30, 40, 50]
Last number (index-1): 50
Second Last number (index-2): 40

 Numbers sliced with negative indices: [20, 30, 40, 50]

 Original Text: Prabhu
Last character (index-1): u
Second Last character (index-2): h

In [29]:
def prime_BruteForce(n):
    # Check for numbers less than 2
    if n < 2:
        return False
    
    # Check divisors from 2 to n-1
    for i in range(2, n):
        if n % i == 0:  # Found a divisor
            return False
    
    # No divisors found; it's prime
    return True


# Main program
try:
    n = int(input("Enter the Number: "))
    if prime_BruteForce(n):
        print(f"Enter Number: {n} is prime")
    else:
        print(f"Enter Number: {n} is not prime")
except ValueError:
    print("Invalid input! Please enter an integer.")

Enter the Number:  5

Enter Number: 5 is prime

In [39]:

def primenum(n):
   
    if n<2:
        print('Enter the number greater than or equal to 2')
        return False
    for i in range(2,int(n**0.5)+1):    
       if n%i==0:
          return False  
    return True
try:
    n = int(input("Enter the Number: "))
    if primenum(n):
        print(f"Enter Number: {n} is prime")
    else:
        print(f"Enter Number: {n} is not prime")
except ValueError:
    print("Invalid input! Please enter an integer.")

Enter the Number:  8

Enter Number: 8 is not prime

In [40]:
#The SymPy library provides built-in functions to check for primes and generate primes efficiently.
from sympy import isprime, primerange

# Check if a number is prime
print(isprime(17))  # Output: True
print(isprime(18))  # Output: False

# Generate all primes in a range
print(list(primerange(1, 50)))  # Output: Primes between 1 and 50

True
False
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [51]:
#36.Factorial
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

try:
    n = int(input("Enter the Number: "))
    if n<0:
        print('Factorial not defined for negative numbers')
    else:
        print(f'Entered Number: {n} factorial is:{factorial(n)}')
    
except ValueError:
    print("Invalid input! Please enter an integer.")

Enter the Number:  7

Entered Number: 7 factorial is:5040

In [52]:
#37.Square root
import math
number = 16
sqrt = math.sqrt(number)
print(sqrt) # Output: 4.0

4.0

In [59]:
def is_leap_year(year):
    if year<1:
        print("Enter a valid year (year must be greater than 0).")
        return
    
    a=(year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)
    if a==1:
        print('Entered year:',year,' is Leap year')
    else:
        print('Entered year:',year,' is Not Leap year')

try:
    year = int(input("Enter the year to check: "))
    is_leap_year(year)
except ValueError:
    print("Invalid input! Please enter a valid integer.")

Enter the year to check:  2024

Entered year: 2024  is Leap year

In [60]:
# TO check Palindrome number
def is_palindrome_number(number):
    original = number  # Keep the original number
    reverse = 0  # Initialize reversed number as 0
    while number > 0:
        digit = number % 10  # Extract the last digit
        reverse = reverse * 10 + digit  # Build the reversed number
        number = number // 10  # Remove the last digit from the number
    return reverse == original  # Compare reversed number to original

# Input from the user
try:
    number = int(input("Enter a number to check if it's a palindrome: "))
    if is_palindrome_number(number):
        print(f'{number} is a palindrome.')
    else:
        print(f'{number} is not a palindrome.')
except ValueError:
    print("Invalid input! Please enter a valid integer.")

Enter a number to check if it's a palindrome:  1221

1221 is a palindrome.

In [62]:
# To check Plindrome string
def is_palindrome(string):
    string = string.lower().replace(" ", "")  # Convert to lowercase and remove spaces
    return string == string[::-1]  # Check if the string is equal to its reverse

# Input from the user
string = input("Enter a string to check if it's a palindrome: ")
if is_palindrome(string):
    print(string,' is a palindrome.')
else:
    print(string,' is not a palindrome.')

Enter a string to check if it's a palindrome:  abcdcba

abcdcba  is a palindrome.

In [74]:
# Second largest salary
import pandas as pd
data={ 'Employee':['A', 'B', 'C','D'],
       'Salary':[1000,2000,3000,4000]  
}
df=pd.DataFrame(data)
print(df)
print(df['Salary'].nlargest(2))
Second_Highest_Salary=df['Salary'].nlargest(2).iloc[-1]
print('Second Highest Salry is:',Second_Highest_Salary)

  Employee  Salary
0        A    1000
1        B    2000
2        C    3000
3        D    4000
3    4000
2    3000
Name: Salary, dtype: int64
Second Highest Salry is: 3000

In [77]:
# Second largest salary with employee name
import pandas as pd
data={ 'Employee':['Jey', 'Maha', 'Priya','Sanju'],
       'Salary':[1000,2000,3000,4000]  
}
df=pd.DataFrame(data)
print(df)
Second_Highest=df.nlargest(2,'Salary').iloc[-1]
Employee_name=Second_Highest['Employee']
Second_Highest_Salary=Second_Highest['Salary']

print(Employee_name,'is getting the second highest salary of:',Second_Highest_Salary)

  Employee  Salary
0      Jey    1000
1     Maha    2000
2    Priya    3000
3    Sanju    4000
Priya is getting the second highest salary of: 3000

In [87]:
import pandas as pd
data={'EMail':['jey@domain.com','maha@domain.com','priya@domain.com','sanju@domain.com','maha@domain.com']}
df=pd.DataFrame(data)

count=df['EMail'].value_counts()
print(count)
duplicates=count>1
print(duplicates)

duplicate_emails = duplicates[duplicates].index.tolist()
print("Duplicate Emails:", duplicate_emails)

EMail
maha@domain.com     2
jey@domain.com      1
priya@domain.com    1
sanju@domain.com    1
Name: count, dtype: int64
EMail
maha@domain.com      True
jey@domain.com      False
priya@domain.com    False
sanju@domain.com    False
Name: count, dtype: bool
Duplicate Emails: ['maha@domain.com']

In [89]:
#51.Given a dataset of test scores, write pandas code to return the
#cumulative percentage of students that received scores within the
#buckets of <50, <75, <90, <100.
data={'Score':[10,25,35,45,56,72,65,75,85,89,92,98]}
df=pd.DataFrame(data)
#define bins and labels
bins=[0,50,75,90,100]
labels=['<50','<75','<90','<100']

# Categorize scores into buckets
df['Buckets']=pd.cut(df['Score'],bins=bins,labels=labels,right=False)
#pd.cut() to categorize the scores into buckets: <50, <75, <90, <100. 
#The right=False ensures that the upper boundary is not included in the range.

# Count the number of students in each bucket
bucket_counts=df['Buckets'].value_counts().sort_index()

# Calculate cumulative percentage
cumulative_percentage=bucket_counts.cumsum()/bucket_counts.sum()*100

#display the results
results=pd.DataFrame(
    {
        'Buckets':bucket_counts.index,
        'Count':bucket_counts.values,
        'Cumulative Percentage':cumulative_percentage.values
    }
)

print(results)

  Buckets  Count  Cumulative Percentage
0     <50      4              33.333333
1     <75      3              58.333333
2     <90      3              83.333333
3    <100      2             100.000000

In [92]:
#52.What is the difference between append() and extend()methods?
li=[1,2,3]
li.append([4,5])
print(li)

li=[1,2,3]
li.extend([4,5])
print(li)

[1, 2, 3, [4, 5]]
[1, 2, 3, 4, 5]

In [96]:
x=['ab','cd']
print(list,x)
print(map(list,x))
print(list(map(list,x)))
print(len(list(map(list,x))))

#map applies a function to each element of an iterable, returning a map object (iterator).
#list(map(...)) converts the map object into a list.
#Strings in Python are iterable, so calling list on a string splits it into a list of its characters.

<class 'list'> ['ab', 'cd']
<map object at 0x0000017D6F3D9600>
[['a', 'b'], ['c', 'd']]
2

In [103]:
#55.What is the default missing value marker in pandas, and how
#can you detect all missing values in a DataFrame?
import pandas as pd
import numpy as np
data={'A':[1,2,np.nan],'B':[4,np.nan,6]}
df=pd.DataFrame(data)
missing_values=df.isna()
print(missing_values)

       A      B
0  False  False
1  False   True
2   True  False

In [105]:
#58.How to get frequency counts of unique items of a series?
data=[1,2,3,3,3,4,4,5,6,6]
df=pd.DataFrame(data)
frequency=df.value_counts()
print(frequency)

0
3    3
4    2
6    2
1    1
2    1
5    1
Name: count, dtype: int64

In [107]:
#59.How to convert a numpy array to a dataframe of given shape?
array=np.array([[1,2,3],[4,5,6]])
df=pd.DataFrame(array,columns=['A','B','C'])
print(df)

   A  B  C
0  1  2  3
1  4  5  6

In [109]:
#61.Define GroupBy in Pandas?
data={'A':['All is','Well','All is','Well'],'B':[1,2,3,4]}
df=pd.DataFrame(data)
grouped=df.groupby('A').sum()
print(grouped)

#For All is, the values in column B are 1 and 3, so the sum is 1 + 3 = 4.
#For Well, the values in column B are 2 and 4, so the sum is 2 + 4 = 6.

        B
A
All is  4
Well    6

In [112]:
#67.Explain what is multi-indexing in pandas?
data={ 'City':['Dubai','Abudhabi','Dubai','Abudhabi'],
      'Year':[2020,2021,2022,2023],
      'Population':[3.6,3.8,4.4,4.8] 
}

df=pd.DataFrame(data)
#set multi index
df=df.set_index(['City','Year'])
print(df)

               Population
City     Year
Dubai    2020         3.6
Abudhabi 2021         3.8
Dubai    2022         4.4
Abudhabi 2023         4.8

In [115]:
#68.How would you iterate over rows in a dataframe in pandas?
data={
    'Name':['Maha','Sanju','Priya'],
    'Age':[15,11,8]
}
df=pd.DataFrame(data)

for index, row in df.iterrows():
    print("Index:", index, "Name:", row['Name'], "Age:" ,row['Age'])

Index: 0 Name: Maha Age: 15
Index: 1 Name: Sanju Age: 11
Index: 2 Name: Priya Age: 8